@model Covaccin.orm.Injection

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Injection</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPersonne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPersonne)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLot)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
